body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#nav-toggle {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
#upcoming-launches {
    padding: 20px;
}
.nav-visible {
    transform: translateX(0);
}

#upcoming-launches .launch {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#upcoming-launches .launch:last-child {
    border-bottom: none;
}

#upcoming-launches h4 {
    margin: 0;
    color: #333;
    font-size: 16px;
}

#upcoming-launches p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}


.launch-card {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.launch-card:hover {
    background-color: #e0e0e0;
}

.launch-card h4, .launch-card p {
    margin: 5px 0;
}


#launch-modal button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#launch-modal button:hover {
    color: #999;
}


.mapboxgl-popup-content {
    background-color: black !important; /* Ensure the background is black */
    color: #00ff00; /* Set text color to green */
    font-family: 'Courier New', Courier, monospace; /* Gives it a more 'terminal-like' font */
    font-size: 12px;
    padding: 8px;
    border-radius: 4px;
}

.mapboxgl-popup-tip {
    display: none; /* Hides the default tip of the popup */
}
